<form action="/updateTool/<%- item._id %>" method="POST" data-tool-form>

	<div>
		<label for="name">Nom</label>
		<input type="text" name="name" required minlength="2" placeholder="Ex: Vue.js" value="<%- item.name %>">
	</div>

	<div>
		<label for="description">Description</label>
		<textarea name="description" required minlength="9" placeholder="..."><%- item.description %></textarea>
	</div>

	<div>
		<label url="name">URL</label>
		<input type="url" name="url" required placeholder="https://example.com" value="<%- item.url %>">
	</div>
	
	<div>
		<p>Associer des catégories&nbsp;:</p>
		<div>
			<% for(let category of item.allCategories) { %>
				<p>---</p>
				<div>
					<input tool-form-category-checkbox type="checkbox" name="categories[]" value="<%- category._id %>" <% for(let itemCategory of item.categories) { if (itemCategory._id.toString() === category._id.toString()) { %> checked <% } } %>>
					<label for="categories[]" value="<%- category._id %>"><%- category.name %></label>
				</div>
				<div class="tool-form__category-tags" tool-form-category-tags-<%-category._id%>>
					<p>Associer des tags (<%- category.name %>)&nbsp;:</p>
					<div>
						<% for(let tag of item.allTags) { %>
							<% if (tag.category._id.toString() === category._id.toString()) { %>
								<div>
									<input type="checkbox" name="tags[]" value="<%- tag._id %>" <% for(let itemTag of item.tags) { if (itemTag._id.toString() === tag._id.toString()) { %> checked <% } } %>>
									<label for="tags[]" value="<%- tag._id %>"><%- tag.name %></label>
								</div>
							<% } %>
						<% } %>
					</div>
				</div>
				<p>---</p>
			<% } %>
		</div>
	</div>

	<div>
		<p>------------</p>
		<input type="checkbox" id="isPublished" name="isPublished" <% if (item.isPublished === true) { %> checked <% } %>>
		<label for="isPublished">Activé</label>
		<p>------------</p>
	</div>

	<button type="submit">Modifier</button>

</form>